DOMAIN_USERNAME=
DOMAIN_PASSWORD=
CIFS_DOMAIN=mbma
CIFS_SHARE_PATH=//10.60.10.44/ict
CIFS_PREFIX_PATH=Apps\040Standard/Android/Release/apk
SECURE_APK_PORT=9103

SECURE_APK_UPLOAD_TOKEN=
SECURE_APK_ALLOWED_PREFIXES=pm-tech_v
SECURE_APK_UPLOAD_MAX_BYTES=419430400
